---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    background-color: #FFF;
    font-size: 15px; // originally 16px
    @include breakpoint($medium) {
        font-size: 15px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 15px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 15px; // originally 22px
    }
}

// h1, h2, h3, h4, h5, h6, .sidebar *, .sidebar p, .sidebar .author__name, .masthead__inner-wrap, .archive__item-title {
//     font-family: Palatino Linotype;
// }

h1, h2, h3, h4, h5, h6 {
    color: #374150;
}

strong {
    color: #005bd1;
}

del {
    color: #081d8d;
    text-decoration: none;
    font-weight: bold;
    font-size: 98%;
}

a {
    color: #575b62; //#0659b1;
}

.sidebar {
    opacity: 1;
}

.masthead {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.greedy-nav {
    background: unset;
}

.greedy-nav .visible-links a {
    color: white;
}

.greedy-nav a.site-title {
    color: white;
}

.page__footer {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.grid__item {
    width: 100%;
}

.archive__item-teaser {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
}

.archive__item-text {
    width: 70%;
    display: inline-block;
    margin-left: 1em;
}

.progress .full {
    margin-right: unset !important;
}